.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--secondary-dark);
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  span{
    text-align: center;
    color: var(--secondary-light);
    font-size: 17px;
    font: Inter, sans-serif;

    margin-top: 70px;

  }

  input{
    width: 375px;
    height: 60px;
    border: none;

    margin-top: 90px;
    margin-bottom:50px;

    font-size: 17px;

    &::placeholder{
      color: var(--secondary-light);
      font-size: 17px;
    }
  }
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 150px;

  span{
    color: var(--secondary-light);
    font-size:17px;
  }
  h3{
    color: var(--secondary-dark);
    font-size:17px;
  }
}