.container {
    height: 100%;
    margin: 90px auto 0;
    max-width: 400px;
    .content {
        height: 100%;
        padding: 3rem 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
            height: 100px;
            width: 100px;
            border-radius: 100%;
            background-color: #C4C4C4;
        }
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                margin-top: 1.5rem;
                text-align: center;
                font-size: 20px;
            }
            span {
                color: var(--text-light);
            }
            p {
                text-align: center;
                color: var(--text-light);
            }
        }
        .statistics {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            .stat {
                display: flex;
                flex-direction: column;
                align-items: center;
                .number {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: .3rem;
                }
                .text {
                    font-size: 15px;
                    text-transform: uppercase;
                    color: var(--text-light);
                }
            }
        }
    }
}