.container {
    margin: 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    .content {
        margin-top: 90px;
        padding-top: 1rem;
        .searchBar {
            width: 100%;
            padding: 0 1.5rem;
            input {
                width: 100%;
                border: none;
                background-color: #00000021;
                color: var(--text-light);
                padding: 0.5rem;
                padding-left: 1.7rem;
                border-radius: 3px;
                font-size: 12px;
                font-weight: bold;
                &::placeholder {
                  color: var(--text-light);
                  font-size: 12px;
                  font-weight: bold;
                }
            }
        }
        .storeList {
            margin: 0;
            padding: 0;
            margin-top: 1rem;
            .store {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                margin: 0 1.5rem;
                padding: 1rem 0;
                height: 60px;
                .first {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .img {
                        height: 48px;
                        width: 48px;
                        border-radius: 100%;
                        background-color: var(--border);
                        margin-right: 1rem;
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        h2 {
                            margin: 0;
                            font-size: 15px;
                            color: var(--text);
                        }
                        span {
                            font-size: 13px;
                            color: var(--text-light);
                        }
                    }
                }
                .second {
                    a {
                        button {
                            border-radius: 6px;
                            border: 1px solid var(--text);
                            background: none;
                            padding: 0.5rem;
                            color: var(--text);
                            font-weight: 700;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
