.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--secondary-dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  span {
    text-align: center;
    color: var(--text-light);
    font-size: 17px;
    font: Inter, sans-serif;

    margin-top: 70px;
  }

  .inputs {
    width: 100%;
    max-width: 343px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 50px;
    border-bottom: 1px solid #CCC;

    div {
      display: flex;
    }
    
    h4 {
      font-size: 17px;
      font-weight: bold;
    }

    hr {
      height: 20px;
      width: 1px;
      margin: auto 10px;
    }
    
    input {
      height: 45px;
      border: none;
      outline: none;
      font-size: 17px;
      margin: auto 0;

      &::placeholder {
        color: var(--text-light);
        font-size: 17px;
      }
    }

  }

  .passwordInput {
    width: 100%;
    max-width: 343px;
    display: flex;
    // margin-top: 90px;
    margin-bottom: 50px;
    border-bottom: 1px solid #CCC;

    input {
      height: 45px;
      border: none;
      outline: none;
      font-size: 17px;
      margin: auto 0;

      &::placeholder {
        color: var(--text-light);
        font-size: 17px;
      }
  }
}
}
