html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
    --primary: #0CB368;
    --primary-light: #7CF2BF;
    --secondary-light: #A4BFB4;
    --secondary: #40524A;
    --secondary-dark: #1F2422;
}