.field {
  margin-bottom: 45px;
  width: 100%;
  position: relative;
  text-align: center;
  input, textarea {
    margin-top: 16px;
    width: 100%;
    max-width: 343px;
    height: 45px;
    border: none;
    border-bottom: 0.5px solid #CCC;
    margin-bottom: 5px;
    font-size: 17px;
    outline: none;

    &::placeholder{
      color: var(--text-light);
      font-size: 12px;
    }
  }

  textarea {
    min-height: 150px;
  }
  .alert {
    display: none;
    position: absolute;
    bottom: -16px;
    color: red;
    font-style: italic;
    font-size: .85rem;
    &.visible {
      display: block;
    }
  }
}
.noContent {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 150px;

  text-align: center;
  font-weight: bold;
  color: #ced2d6;
  span {
    margin-top: 15px;
    font-size: 14px;
  }
}
.success {
  font-weight: bold;
  font-size: 12px;
  color: rgb(52, 221, 52);
}
