.container {
  width: 100%;
  height: 90px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.8rem;
  position: fixed;
  top: 0;
  max-width: 400px;
  background-color: white;
  .innerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    button {
      position: absolute;
      left: 0;
      background-color: transparent;
      vertical-align: -0.125em;
      height: 100%;
      border: none;
    }
    h2 {
      margin: 0;
      font-size: 20px;
    }
  }
}
