.container {
    height: 100%;
    margin: 90px auto 0;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avatar{
        width: 70px;
        height: 70px;
        border-radius: 50%;
      
        img { 
          width: 100%;
          border-radius: 50%;
        }
      }
}